:root {
    --dark-grey: #403F3F;
    --less-dark-grey: #535353;
    --light-grey: #ADADAD;
    --lighter-blue: #6FA0B2;
    --darker-blue: #668996;
    --neon-blue: #92fffa;
    --darker-blue-opacity-07: rgba(102, 137, 150, 0.7);
    --box-shadow-light-blue-test: #353535;
    --box-shadow-light-blue: rgba(111, 160, 178, 0.5);
    --white: #fff;
    --black: #000;
    --not-quite-black: #222222;
    --background-gradient-1: rgba(10, 10, 10, 0.9);
    --background-gradient-2: rgba(38, 38, 38, 0.9);

}

@font-face {
    font-family: "Nexa Heavy";
    src: url("../assets/webfonts/Nexa-Heavy.ttf");
}

@font-face {
    font-family: "Nexa Extra Light";
    src: url("../assets/webfonts/Nexa-ExtraLight.ttf");
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--not-quite-black); */
    background-image: linear-gradient(to right bottom, var(--background-gradient-1), var(--background-gradient-2));
    background-repeat: no-repeat;
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nexa Heavy";
}

p {
    font-size: 1.3rem;
}

.underline {
    border-bottom: 2px solid var(--white);
    width: 50%;
}

.box-shadow {
    --_box-shadow-colour: var(--neon-blue);
    --_length-x: 0px;
    --_length-y: 0px;
    --_blur-radius: 15px;
    --_spread-radius: 3px;
    -webkit-box-shadow: var(--_length-x) var(--_length-y) var(--_blur-radius) var(--_spread-radius) var(--_box-shadow-colour);
    -moz-box-shadow: var(--_length-x) var(--_length-y) var(--_blur-radius) var(--_spread-radius) var(--_box-shadow-colour);
    box-shadow: var(--_length-x) var(--_length-y) var(--_blur-radius) var(--_spread-radius) var(--_box-shadow-colour);
}

.box-shadow.light-blue {
    --_box-shadow-colour: var(--lighter-blue);
}

.box-shadow.dark-blue {
    --_box-shadow-colour: var(--darker-blue);
}

.link {
    --_link-clr: var(--white);
    color: var(--_link-clr);
    font-weight: 900;
    text-decoration: none;
}

.link.light-blue {
    --_link-clr: var(--lighter-blue);
}

.link.dark-blue {
    --_link-clr: var(--darker-blue);
}

.link.neon-blue {
    --_link-clr: var(--neon-blue);
}

.link:hover {
    border-bottom: 2px solid var(--_link-clr);
}

.contentBox {
    padding: 3rem;
    border-radius: 2rem;
    width: 75vw;
}

.gap-3 {
    gap: 3rem;
}

.gap-05 {
    gap: 0.5rem;
}

.margin-3 {
    margin: 3rem;
}

.flex {
    display: flex;
}

.flex1 {
    flex: auto;
}

.v-h-centre {
    justify-content: center;
    align-items: center;
}

.v-centre {
    justify-content: center;
}

.h-centre {
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.overflow-hidden {
    overflow: hidden !important;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

@media screen and (max-width: 720px) {
    .grid {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas:
            "."
            "."
            ".";
    }

    #name {
        margin: 0 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .grid {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas:
            "."
            "."
            ".";
    }

}


a:hover {
    cursor: pointer;
}

footer {
    width: 100vw;
    position: fixed;
    top: 90vh;
    border-top: 2px groove var(--dark-grey);
    text-align: center;
    height: 15px;
}

footer #links {
    height: 100%;
    width: 100%;
}

footer #links>a {
    text-decoration: none;
    color: black;
    font-family: 'Nexa Heavy';
    transition: all 200ms;
    width: 10rem;
}

footer #links>a:hover {
    color: #668996;
}