:root {
    --_navbar-background: var(--lighter-blue);
    --_navbar-main-colour: var(--dark-grey);
    --_side-column-width: calc(100vw / 6);
    --_nav-item-colour: var(--black);
}

nav {
    background-color: var(--_navbar-background);
    height: 4rem;
    padding: 0.2rem;
    color: var(--_navbar-item-colour);

}

nav>div {
    width: calc(100vw / 3);
    flex-grow: 1;
    flex-basis: auto;
}

#nameAndLogo {
    width: calc(100vw / 8);
    gap: 0.3em;
    margin-left: 0.3rem;
}

#nameAndLogo>#devLogo.fa-code {
    font-size: 1.5rem;
    border-radius: 100%;
    border: 2px groove white;
    padding: 10px;
}

.navItems {
    gap: 2rem;
    font-size: 1.3em;
    width: calc(100vw / 3);
    flex-grow: 1;
}


.navItems a,
#mobileNavToggle {
    text-decoration: none !important;
    color: var(--_nav-item-colour);
    font-family: 'Nexa Heavy';
    transition: all 350ms;
}

a.active,
.navItems a:hover,
#mobileNavToggle:hover {
    color: var(--_nav-item-colour) !important;
    border-bottom: 3px solid var(--white);
    transform: scale(1.05);
}

a:not(a.active) {
    text-decoration: none !important;
    color: var(--_nav-item-colour) !important;
}

#mobileNavToggleContainer {
    width: var(--_side-column-width);
    visibility: hidden;
}

@media screen and (max-width: 750px) {
    #mobileNavToggleContainer {
        visibility: visible;
    }

    nav {
        border-bottom: solid 2px var(--white);
    }

    .navItems,
    #mobileNavItems {
        transition: height ease 150ms;
        height: 0;
        width: 0;
        background-color: var(--_navbar-background);
        font-size: 0;
    }

    #mobileNavItems {
        width: 100vw;
    }

    .openNav {
        height: 100vh !important;
        width: 100vw !important;
    }

    #mobileNavItems.openNav>a {
        font-size: 1.7rem;
    }

    #mobileNavToggleContainer #mobileNavToggle {
        background: none;
        box-shadow: none;
        border-radius: 5px;
        margin-inline: auto 1rem;
        border: none;
        font-size: 3em;
    }
}