:root {
    --_navbar-background: linear-gradient(to right bottom, var(--background-gradient-1), var(--background-gradient-2));
    ;
    --_navbar-main-colour: var(--dark-grey);
    --_side-column-width: calc(100vw / 6);
    --_nav-item-colour: var(--white);
}

nav {
    /* background-color: var(--_navbar-background); */
    height: 4rem;
    padding: 0.2rem;
    color: var(--_navbar-item-colour);

}

nav>div {
    width: calc(100vw / 3);
    flex-grow: 1;
    flex-basis: auto;
}

nav>* {
    flex-grow: 1;
    flex-basis: auto;
}

#nameAndLogo {
    width: calc(100vw / 8);
    gap: 0.3em;
    margin-left: 0.3rem;
}

#nameAndLogo #devLogo.fa-code {
    font-size: 1.5rem;
    border-radius: 100%;
    border: 2px groove white;
    padding: 10px;
}

.navItems {
    gap: 2rem;
    font-size: 1.3em;
    width: calc(100vw / 3);
    flex-grow: 1;
}


nav a,
.navItems a,
#mobileNavToggle {
    text-decoration: none !important;
    color: var(--_nav-item-colour) !important;
    font-family: 'Nexa Heavy' !important;
    transition: all 350ms !important;
}

nav>a:hover {
    transform: translateX(1rem);
}


.navItems a {
    position: relative;
}

.navItems a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 15px;
}

.navItems a:hover::after,
.navItems a.active::after {
    width: 100%;
    left: 0;
}

#mobileNavToggleContainer {
    width: var(--_side-column-width);
    visibility: hidden;
}

@media screen and (max-width: 750px) {
    #mobileNavToggleContainer {
        visibility: visible;
    }

    .navItems:not(#mobileNavItems) {
        display: none;
    }

    .navItems,
    #mobileNavItems {
        transition: all ease 250ms;
        height: 0;
        width: 0;
        background-color: var(--_navbar-background);
    }

    #mobileNavItems {
        width: 100vw;
    }

    .openNav {
        width: 100vw !important;
    }

    #mobileNavItems.openNav>a {
        font-size: 1.7rem;
    }

    #mobileNavToggleContainer #mobileNavToggle {
        background: none;
        box-shadow: none;
        border-radius: 5px;
        margin-inline: auto 1rem;
        border: none;
        font-size: 3em;
    }
}