#projects {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.project,
#noProjectsYet {
    padding-inline: 2rem;
    text-align: center;
}

.project {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}